body {
  margin: 0px;
  padding: 0px;
  background-image: url("BG.jpg");
}
h1{
  color: aliceblue;
  position: absolute;
  display: block;
  left:45%;
  top:14%;
  z-index: 2;
}
.Box {
  position: absolute;
  color: white;
  width: 20%;
  height:  60%;
  padding-top: 140px;
  padding-bottom: 70px;
  padding-right: 80px;
  padding-left: 40px;
  margin: 40px;
  top: 50%;
  left: 50%;
  /*Transform : translate to  Move Objects*/
  transform: translate(-50%, -50%);
  background: #030303;
  z-index: 1;
  transition: 0.3s;
}


.Control{
   margin-bottom: 5%;
   font-weight: 200;
   font-size: large;
} 
.Control label{
  
  display: block;
  font-stretch: extra-expanded;
}
.Control input
{
  display: block;
  margin:(0px,5px,5px,5px) ;
  width: 80%;
  color: whitesmoke;
  background: none;
  border: 2px solid #0081fa;
  border-radius: 8px;
}
.Control input:focus
{width: 110%;
  border: 1px solid rgb(3, 248, 3);}
.Control small
{
  visibility: hidden;
}
.Box .submit{

  color: whitesmoke;
  position: absolute;
  width: 80%;
  padding: 10px;

  background: none;
  border: 2px solid rgb(3, 248, 3);
  border-radius: 20px;
  transition: 0.3s;
  
}
.Box .submit:hover  {
  
  background: rgb(3, 248, 3);
  cursor: pointer;
}
.Control.Error input{
  border: 1px solid rgb(226, 38, 38);

}
.Control.Error small{
  visibility: visible;
  color: rgb(226, 38, 38);
}
.Control.Sucess input{
  border: 2px solid rgb(84, 223, 84);
}